/*
    Paleta de colores .
    #822007 (rojo óxido)
    #000000 (negro)
    #b2bbc0 (gris azulado)
    #19472a (verde bosque)
    #3d414c (cobalto)
    #ffffff (blanco)
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #19472a;
}

a {
    text-decoration: none;
}
header {
    background: #000000;
    height: 8vh;
}

h1{
    font-size: 0;
    background: url("../img/logo.png") no-repeat center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 0;
    height: 8vh;
    width: 2.5em;
}

#iconos li {
    list-style: none;
    text-indent: -100px;
    overflow: hidden;
    margin-top: 1.5em;
}

#iconos li a {
    background: url("../img/menu.png") no-repeat center center;
    background-size: cover;
    display: block;
}

#iconos li:last-child {
    display: none;
}

#botones {
    width: 100vw;
    height: 22vh;
    position: absolute;
    top : 8vh;
    display: grid;
    grid-auto-rows: repeat(4,1fr)
}

#botones li {
    list-style: none;
}

#botones li a {
    text-decoration: none;
    color: #822007;
    text-align: center;
    display: block;
    line-height: 2em;
}

main {
    position: relative;
    z-index: 100;
    transition: all .5s ease;
    padding-top: 1px;
}

nav:target~main {
    transform: translateY(22vh);
}

nav:target #iconos li:first-child {
    display: none;
}

nav:target #iconos li:last-child {
    display: block;
}

img{
    width: 100%;
}

#pastillas {
    display: grid;
    grid-gap: 10px;
    padding: 30px;
}

#pastillas a{
    color: #3d414c;   
}
h2{
    margin: 20px 0;
    text-align: center;
    color: #822007;
}

#pastillas figure {
    margin-top: 20px ;
    -webkit-box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
}
figcaption{
    padding: 10px;
}

#principal{
    padding: 30px;
}
#principal p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 1em;
}

h3 {
    margin-top: 5px;
    color: #822007;
}

#video{ 
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

#contacto{ 
    padding: 30px;   
    border: .5px solid #19472a;
    border-radius: 10px;
    margin: 30px;
}

form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form input {
    width: 60%;
    border-radius: 10px;
    border: .5px solid #19472a;
    padding: 8pX;
    margin: 10px;
}

#boton{
    width: 30%;
    color: #822007;
    background: #ffffff;
    font-size: 18px;
}

form label {
    width: 90%;
    color: #822007;
}

footer {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

footer div {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

footer div ul:nth-child(1) {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

footer div ul:nth-child(2){
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    list-style: none;
}

footer div ul:nth-child(2) li a{
    text-decoration: none;
}

footer div ul li {
    color: #ffffff; 
    font-size: 14px;
}

footer div ul li a figure{
    height: 100%;
}

footer figcaption{
    color: #ffffff;
}

footer p  {
    color: #ffffff;   
} 

@media screen and (min-width: 481px) and (max-width: 900px){
    #pastillas {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    #pastillas h2{
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

@media screen and (min-width: 901px) {
    #pastillas,#principal,#video,#contacto{
        max-width: 1024px;
        margin: auto;
    }

    header{
        display: flex;
        justify-content: flex-start;
    }

    header h1{
        width: 15%;
    }
    
    #botones {
        position: relative;
        top: 0;
        text-indent: 0;
        display: flex;
        justify-content: flex-end;
        height: 8vh;
        align-items: center;        
    }
    #botones li {
        margin-right: 50px;
    }
    #botones li a{
        margin: 0 10px;
        color: #ffffff;
    }

    #iconos li:last-child {
        display: none;
    }

    #iconos li:first-child{
        display: none;
    }

    #banner {
        width: 100vw;
        left: 0;
    }
    #pastillas {
        margin-top: 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em;
    }
    
    #pastillas figure picture img{
        border-bottom: 1px solid gray;
    }
    #pastillas figure figcaption{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #pastillas figure figcaption a{
        align-items: flex-start;
    }

    #pastillas h2{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    #principal p {
        line-height: 1.5em;
    }

    iframe{
        -webkit-box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
        box-shadow: 4px 7px 20px -9px rgba(0,0,0,0.75);
        height: 500px;
    }

    #contacto{
        margin:150px auto;
    }

    #contancto form input{
        font-size: 24px;
    }

    #boton {
        width: 100px;
    }
    
    footer div {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer div ul:nth-child(1) {
        justify-content: space-around;
    }

    footer div ul:nth-child(2) {
        width: 40%;
        justify-content: space-between;
    }

    footer div ul li {
        font-size: 20px;
    }

    footer p{
        font-size: 30px;
    }
}